<section ng-controller="HomeController">
  <br>
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
<!- "modules/core/client/img/brand/logo.png"!->        
	<img alt="Edge.Origination" class="img-responsive text-center" src="http://edgeproducts.com/app/themes/530press/lib/images/min/edge_logo.png">

      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        MEAN Full-Stack Web based Solution focused on Loan Origination
      </p>
    </div>
  </div>
  <div>
    <h3 style="color:blue">Welcome! You've looking at the Best Loan Origination Web Application available on the market today.</h3>
    <p><strong>Edge.LoanOrigination</strong> is a web application, a complete Client-side solution using ANGULAR framework, create and maintain by Google Team</p>
    <h3 style="color:blue">Hightlight features:</h3>
    <ul>
      <li>
        <strong>Per-seat license</strong> access level.
      </li>
      <li>
        User Porfolio <strong>Dashboard</strong>: Performance bases on(Stage, Loan Type ...), Recent loan access, Todo reminder
      </li>
      <li>
        <strong>Loan data</strong> Create/Edit/Delete
      </li>
      <li>
        <strong>Documents</strong> Generation: Loan Callback, Committee Presentation, Letter Generation ...
      </li>
      <li>
        <strong>Documents</strong> Upload
      </li>
      <li>
        Loan <strong>Checklist</strong> and <strong>Todo List</strong>
      </li>
      <li>
        Financial Analysis. Load your own <strong>Excel Spreadsheet</strong>
      </li>
      <li>
        <strong>Tax Transcript</strong> Automation: 4506T, SBA Form 1919 (<strong>Docusign</strong> Signature)
      </li>
      <li>
        Support Individual or Team <strong>Chat</strong>
      </li>
      <li>
        Interface with <strong>SalesForce</strong>
      </li>
      <li>
        Data export to <strong>LaserPro</strong>
      </li>
    </ul>
  <div class="row">
    <h3 style="color:blue"><strong>B</strong>uilding with latest trusted Technologies</h3>
    <div class="col-md-3">
      <h2><strong>M</strong>ongoDB</h2>
      <p><a target="_blank" href="http://mongodb.org/">MongoDB</a> is a NoSQL database. MongoDB's <a target="_blank" href="http://docs.mongodb.org/manual/">great manual</a> is the place to get started with NoSQL and MongoDB.</p>
    </div>
    <div class="col-md-3">
      <h2><strong>E</strong>xpress</h2>
      <p><a target="_blank" href="http://expressjs.com/"> Express</a> is a NodeJS server-side application web framework. Check out <a target="_blank" href="http://expressjs.com/4x/api.html">The ExpressJS API reference for more information</a> or <a target="_blank" href="http://stackoverflow.com/questions/8144214/learning-express-for-node-js">StackOverflow</a> for more info.</p>
    </div>
    <div class="col-md-3">
      <h2><strong>A</strong>ngularJS</h2>
      <p><a target="_blank" href="http://angularjs.org/">AngularJS</a> is client-side web application framework. The <a target="_blank" href="http://www.thinkster.io/">Thinkster Popular Guide</a> and <a target="_blank" href="https://egghead.io/">Egghead Videos</a> are great resources.</p>
    </div>
    <div class="col-md-3">
      <h2><strong>N</strong>ode.js</h2>
      <p><a target="_blank" href="http://nodejs.org/">Node.js</a> is a JavaScript run-time, popular for being a web server platform. Node's website and this <a target="_blank" href="http://stackoverflow.com/questions/2353818/how-do-i-get-started-with-node-js">stackOverflow thread</a> offer excellent starting points to get to grasps with node.</p>
    </div>
  </div>
  <div class="well">
    <h2>Edge.Origination Documentation</h2>
    <p>
      <ul>
        <li><a target="_blank" href="http://meanjs.org/docs.html">MEAN.JS Documentation</a>
        </li>
        <!-- <li><a target="_blank" href="http://meanjs.org/generator.html">Yeoman Generator</a>
				</li> -->
        <li><a target="_blank" href="http://meanjs.org/modules.html">Modules</a>
        </li>
        <li><a target="_blank" href="http://meanjs.org/changelog.html">Changelog</a>
        </li>
        <li><a target="_blank" href="http://meanjs.org/community.html">Community</a>
        </li>
        <li><a target="_blank" href="http://blog.meanjs.org">Blog</a>
        </li>
      </ul>
    </p>
    <br>Enjoy &amp; Keep Us Updated,
    <br>The Edge.Origination Team.
  </div>
</section>
